lightgbm==4.1.0
matplotlib==3.8.0
numba==0.58.1
numpy==1.23.5
optuna==3.4.0
pandas==1.5.3
pendulum==2.1.2
plotly==5.18.0
pycaret==3.1.0
scikit-learn==1.2.2
scipy==1.10.1
tensorflow==2.14.0
torch==2.1.0
wandb==0.15.12
